# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/healora_pharmacy?retryWrites=true&w=majority

# JWT (use a long random string in production)
JWT_SECRET=your_super_secret_jwt_key_change_in_production
